body {
  background-color: #ffe6ee;
}
/*  navigation*/
.navigation {
  background-color: #ffb3cb;
  display: flex;
  flex-direction: row;
  font-family: "Lexend Zetta", sans-serif;
}
ul {
  list-style-type: none;
  background-color:#ffb3cb;
}
li a {
  color: white;
  text-decoration: none;
  text-align: right;
  font-size: 1.3em;
}
li {
  display: inline;
}
.me {
  border-radius: 50%;
  border-color: #99ccff;
  position: absolute;
  top: 140px;
  left: 540px;
}
.vpw {
  display: flex;
  justify-content: center;
}
.blurbs {
  display: flex;
  flex-direction: row;
  justifycontent: space-around;
}
.b1 {
  border: 5px solid #99ccff;
}

/*  general words*/
h1 {
  color: #99ccff;
  font-size: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-family: "Lexend Zetta", sans-serif;
}

h2 {
  color: #99ccff;
  font-family: "Lexend Zetta", sans-serif;
}
h3 {
  color: #ffff99;
  font-family: "Lexend Zetta", sans-serif;
}
p {
  color: black;
  font-family: "Lexend Zetta", sans-serif;
}
.blurb {
  display: inline;
}
.custom {
  font-family: "Lexend Zetta", sans-serif;
  margin: 0;
}

* {
  margin: 6px;
  padding: 2px;
}

div {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 3;
}
